<div class="container-fluid" style="width: 800px;">
	<ngb-alert *ngIf="successMessage" [type]="'success'" (close)="closeAlert()"><h4 class="center-font"></h4>{{ successMessage }}</ngb-alert>
	<ngb-alert *ngIf="errorMessage" [type]="'danger'" (close)="closeAlert()"><h4 class="center-font"></h4>{{ errorMessage }}</ngb-alert>
</div>

<div class="entry-form well" style="margin-top: 5%;margin-left: 20%">
	<form class="form-inline" (ngSubmit)="getInvoice()" #exitForm="ngForm">
		<div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<div class="input-group-addon"><i class="fa fa-car"></i></div>
				<input type="text" name="vehicleNo" class="form-control" required 
				id="typeahead-format" [ngbTypeahead]="search" 
				 placeholder="Vehicle Number" [(ngModel)]="vehicleNo">
			
		</div>
		<button type="submit" class="btn  btn-success" [disabled]="!exitForm.valid">Invoice</button>
	</form>
</div>
<hr>

<div class="container" *ngIf="invoice.vehicleNo" style="margin-left: 10% ">
	<table class="table">
		<h3> Invoice for {{invoice.vehicleNo}}</h3>
		<tr><th>Vehicle Number</th> <td>{{invoice.vehicleNo}}</td></tr>
		<tr><th>Number of wheels</th> <td>{{invoice.wheels}}</td></tr>
		<tr><th>Entry Time</th> <td>{{invoice.entry_time }}</td></tr>
		<tr><th>Exit Time</th> <td>{{invoice.exit_time }}</td></tr>
		<tr><th>Number of hours</th> <td>{{invoice.hours}}</td></tr>
		<tr><th>Amount</th> <td>{{invoice.amount}}</td></tr>
		<tr><th>Payment Status</th> <td>{{invoice.status}}</td></tr>
		<tr align="center">
			<th colspan="3">
				<button *ngIf="invoice.status=='PENDING'" class="btn btn-sm btn-success" (click)="open(content)"> Paid</button>
				<button *ngIf="invoice.status=='PAID'" class="btn btn-sm btn-success" disabled> Payment completed </button>
			</th>
		</tr>
	</table>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    
  </div>
  <div class="modal-body">
    <p>Payment Successfull.</p>
  </div>
  <div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="updatePayment(invoice.vehicleNo);c('Close click')" >Close</button>
  </div>
</ng-template>