
<div class="container" style="top: 10mm">
  <table class="table table-primary">
    <thead class="thead-primary">
      <tr>
        <th>#</th>
        <th>Vehicle No</th>
        <th>Entry Time</th>
        <th>Exit Time</th>
        <th>Hours</th>
        <th>Amount </th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>APJ12312</td>
        <td> 2017-08-29 18:24:35 </td>
        <td> 2017-08-29 18:24:35 </td>
        <td> 2 </td>
        <td> 20 </td>
        <td> Paid </td>
      </tr>
    </tbody>
  </table>
</div>