
<div class="container-fluid listdiv">
  <!--<h1 class="gbg-color"> Vehicles List </h1>-->
  <table class="table table-primary">
    <thead class="thead-primary gbg-color">
      <tr>
        <th>#</th>
        <th>Vehicle No</th>
        <th>No.Of Wheels</th>
        <th>Entry Time</th>
        <th>Exit Time</th>
        <th>Hours</th>
        <th>Amount </th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles; let i = index" [attr.data-index]="i">
        <th scope="row">{{i+1}}</th>
        <td>{{vehicle.vehicleNo}}</td>
        <td>{{vehicle.wheels}}</td>
        <td>{{vehicle.entry_time}}</td>
        <td>{{vehicle.exit_time}}</td>
        <td>{{vehicle.hours}}</td>
        <td>{{vehicle.amount}}</td>
        <td>{{vehicle.status}}</td>
      </tr>
    </tbody>
  </table>
</div>